.user-card {
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: var(--gray-15);
  border-radius: 9999px;
  min-width: 135px;
  height: 30px;
  padding: 6px;
  justify-content: space-between;
}

.user-name {
  border-radius: 50%;
}

.user-card-title {
  color: var(--black-10);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
