.container {
  display: flex;
  background-color: var(--white-15);
  width: 100vw;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border: 0 solid #e1e3e4;
  background: var(--white-10);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
}
.side-wrapper {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding: 33px 26px 17px 31px;
}
.expanded {
  width: 276px;
}

.collapsed {
  width: 64px;
  align-items: center;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; /* pushes top and bottom sections apart */
  padding: 15px 0 17px 0;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.bottom-section-expanded {
  align-items: start;
}
img {
  cursor: pointer;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: 54px;
}

.nav-header-expanded {
  padding: 0 15px 13px 23px;
  justify-content: space-between;
  height: auto;
}

.tab-general,
.side-nav-toggle {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  column-gap: 10px;
  padding: 8px 8px;
  margin: 0 12px 0 12px;
}

.tab-general:hover,
.side-nav-toggle:hover {
  background-color: var(--white-15);
}
.tab-general.active {
  background-color: var(--gray-15);
}

.side-nav-toggle {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.tab-settings {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  column-gap: 10px;
  padding: 8px 8px;
  margin: 0 12px 0 12px;
}
.label-with-line {
  display: flex;
  flex-direction: column;
}

.horizontal-line {
  width: 100%; /* or a fixed width like 40px */
  height: 1px;
  background-color: #ccc; /* or your desired color */
  margin-bottom: 4px; /* spacing between line and label */
}

/* header style start*/

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-sub-wrapper {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.header-label {
  color: var(--black-text-colo);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 2px;
}

.header-sub-label {
  color: var(--gray-10);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* header style end*/

.text-wrapper {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--black-10);
}

.text-wrapper.active {
  font-weight: 700;
  color: var(--green-10);
}

.side-nav-title {
  color: var(--gray-10);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 15px 0 15px 24px;
}

.side-bar-expanded {
  align-self: center;
}
